<a href="https://colab.research.google.com/github/tinyethan/51-pelton-mlproj-leadRealization/blob/main/Lead_Realization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lead Realization

In [6]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['traceDataUtf8.csv']))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Background
Nashville attracts a great deal of interest from individuals, groups, and organizations seeking a destination to acheive their travel and meeting needs. The Nashville CVC aids in connecting them with local resources, moving them from an initial lead status to either definite, canceled, or lost. Traces are a written record of interactions between the Nashville CVC representative and the inquiring enity.

# Project Description

This project analyzes traces associated with each lead, identifying trends in verbage to give a quality score to each lead.

# Performance Metric
This project uses a simple accuracy metric - the number of correct predictions devided by the total number of predictions. Historical data will be used to deliver this metric, which will then determine confidence for predictive ability.

In [8]:
display(df2.tail(5))
df2.info()

,bureau_rep,bookingid,action_Code,comments,creation_Date,trace_Date,status,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
1048570,From Cvent Supplier Network,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,________________________________________,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,RFP type\tOnly Guest Rooms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,________________________________________,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,RFP organization\tHCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 69 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   bureau_rep     768275 non-null  object
 1   bookingid      183526 non-null  object
 2   action_Code    115042 non-null  object
 3   comments       50939 non-null   object
 4   creation_Date  27338 non-null   object
 5   trace_Date     24157 non-null   object
 6   status         23019 non-null   object
 7   Unnamed: 7     1291 non-null    object
 8   Unnamed: 8     705 non-null     object
 9   Unnamed: 9     453 non-null     object
 10  Unnamed: 10    286 non-null     object
 11  Unnamed: 11    219 non-null     object
 12  Unnamed: 12    173 non-null     object
 13  Unnamed: 13    131 non-null     object
 14  Unnamed: 14    121 non-null     object
 15  Unnamed: 15    30 non-null      object
 16  Unnamed: 16    25 non-null      object
 17  Unnamed: 17    21 non-null      object
 18  Unnamed: 18    13 non-null      object
 19  Unnamed: 19    12 non-null      object
 20  Unnamed: 20    11 non-null      object
 21  Unnamed: 21    8 non-null       object
 22  Unnamed: 22    6 non-null       object
 23  Unnamed: 23    5 non-null       object
 24  Unnamed: 24    4 non-null       object
 25  Unnamed: 25    4 non-null       object
 26  Unnamed: 26    4 non-null       object
 27  Unnamed: 27    3 non-null       object
 28  Unnamed: 28    3 non-null       object
 29  Unnamed: 29    3 non-null       object
 30  Unnamed: 30    2 non-null       object
 31  Unnamed: 31    2 non-null       object
 32  Unnamed: 32    2 non-null       object
 33  Unnamed: 33    2 non-null       object
 34  Unnamed: 34    2 non-null       object
 35  Unnamed: 35    2 non-null       object
 36  Unnamed: 36    2 non-null       object
 37  Unnamed: 37    2 non-null       object
 38  Unnamed: 38    2 non-null       object
 39  Unnamed: 39    2 non-null       object
 40  Unnamed: 40    2 non-null       object
 41  Unnamed: 41    2 non-null       object
 42  Unnamed: 42    2 non-null       object
 43  Unnamed: 43    1 non-null       object
 44  Unnamed: 44    1 non-null       object
 45  Unnamed: 45    1 non-null       object
 46  Unnamed: 46    1 non-null       object
 47  Unnamed: 47    1 non-null       object
 48  Unnamed: 48    1 non-null       object
 49  Unnamed: 49    1 non-null       object
 50  Unnamed: 50    1 non-null       object
 51  Unnamed: 51    1 non-null       object
 52  Unnamed: 52    1 non-null       object
 53  Unnamed: 53    1 non-null       object
 54  Unnamed: 54    1 non-null       object
 55  Unnamed: 55    1 non-null       object
 56  Unnamed: 56    1 non-null       object
 57  Unnamed: 57    1 non-null       object
 58  Unnamed: 58    1 non-null       object
 59  Unnamed: 59    1 non-null       object
 60  Unnamed: 60    1 non-null       object
 61  Unnamed: 61    1 non-null       object
 62  Unnamed: 62    1 non-null       object
 63  Unnamed: 63    1 non-null       object
 64  Unnamed: 64    1 non-null       object
 65  Unnamed: 65    1 non-null       object
 66  Unnamed: 66    1 non-null       object
 67  Unnamed: 67    1 non-null       object
 68  Unnamed: 68    1 non-null       object
dtypes: object(69)
memory usage: 552.0+ MB